body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: left;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}
form input{
  font-size: large;
  width: 70%;
  margin-bottom: 20px;

}
form input[type="date"]{
  font-size: large;
  width: 25%;
  display: block;
}
select{
  font-size: large;
  width: 70%;
  margin-bottom: 20px;
  }
textarea{
  font-family: arial;
  font-size: large;
  margin-bottom: 15px;
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 250px;
  margin: 10px;
}

.flex p {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  align-self: end;
  
}