body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;

}

img {
    max-width: 100%;
    display: block;
}

.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.wrapper {
   /* border: 1px solid red;*/
    width: 95vw;
    height: 90vh;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    flex-wrap: wrap;
    margin: 0 auto;
}

.profile-img {
    height: 50%;
}

.rating {
    position: absolute;
    top: 102%;
    left: 4%;
    font-size: 50px;
}

.rate i, .rate i:hover ~ i {
    color: #222;
    text-shadow: none;
    height: 25px;
    transition: color 200ms,
                text-shadow 200ms;
    
    transition-delay: 0;
  }
  
  .rate:hover i {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
  }
  
   .rate:hover i:nth-child(2) {
    transition-delay: 30ms;
  }
  
  .rate:hover i:nth-child(3) {
    transition-delay: 60ms;
  }
  
  .rate:hover i:nth-child(4) {
    transition-delay: 90ms;
  }
  
  .rate:hover i:nth-child(5) {
    transition-delay: 120ms;
  }
  
   .rate i {
    cursor: pointer;
    font-style: normal;
    display: relative;
  }
  
    
  /*html {
    height: 100%;
  }*/


.titulo {
   /* border: 1px solid pink;*/
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.items:nth-of-type(2) {
    /*border: 1px solid blue;*/
    width: 20%;
    height: 100vh;
    
}
.items:nth-of-type(1) img:nth-of-type(1) {
    width: 250px;
}
.items {
   /* border: 1px solid blue;*/
    width: 74%;
    height: 50%;
    margin-left: 30px;
}

